<div style="background-image: linear-gradient(coral , white);font-family: 'Times New Roman', Times, serif;text-align: center"><br><br>
<H1>Création d'un nouvel utilisateur</H1>
<div style="border:solid;margin:20pt; text-align: left; background-image: linear-gradient(to right, coral , wheat); border-radius: 5pt;padding-left: 10pt;padding-top: 2pt">
<form [formGroup]="userForm">
  <div class="formGroup">
    <input
    type="text"
    id="name"
    formControlName="name"
    placeholder="Nom de l'utilisateur"
    >
    <div class="errorPlaceHolder" *ngIf="name.errors && name.touched">
    Le nom doit faire au moins 3 caractères
    </div>
  </div>
  <div class="formGroup">
    <input
    type="text"
    id="firstName"
    formControlName="firstName"
    placeholder="Prénom de l'utilisateur"
    >
    <div class="errorPlaceHolder" *ngIf="firstName.errors && firstName.touched">
    Le prénom doit faire au moins 3 caractères
    </div>
  </div>
  <div class="formGroup">
    <input
    type="date"
    id="dateNaiss"
    formControlName="dateNaiss"
    placeholder="Date de naissance de l'utilisateur"
    >
    <div class="errorPlaceHolder" *ngIf="dateNaiss.errors && dateNaiss.touched">
    <p *ngIf="birthDate.errors.isLowerThan">La date d'anniversaire doit être (forcément...) inférieure à la date du jour</p>
    <p *ngIf="birthDate.errors.required">La date de naissance est obligatoire</p>
    </div>
  </div>
  <div class="formGroup">
    <input
    type="text"
    id="adresse"
    formControlName="adresse"
    placeholder="Adresse de l'utilisateur"
    >
    <div class="errorPlaceHolder" *ngIf="adresse.errors && adresse.touched">
    L'adresse est obligatoire
    </div>
  </div>
  <div class="formGroup">
    <input
    type="text"
    id="CP"
    formControlName="CP"
    placeholder="Code postal de l'utilisateur"
    >
    <div class="errorPlaceHolder" *ngIf="CP.errors && CP.touched">
    <p *ngIf="CP.errors.required">Le code postal est obligatoire</p>
    <p *ngIf="CP.errors.minlength">Le code postal est constitué au minimum de 5 chiffres</p>
    <p *ngIf="CP.errors.maxlength">Le code postal est constitué de 5 chiffres</p>
    <p *ngIf="CP.errors.pattern">On a dit 5 CHIIIIFFFFFFRES !!!!</p>
    </div>
  </div>
  <div class="formGroup">
    <input
    type="text"
    id="ville"
    formControlName="ville"
    placeholder="Ville de l'utilisateur"
    >
    <div class="errorPlaceHolder" *ngIf="ville.errors && ville.touched">
      La ville est obligatoire
    </div>
  </div><div class="formGroup">
    <button id="add" (click)="submit()" [className]="userForm.invalid ? 'inactive' : ''" [disabled]="userForm.invalid">
    Ajouter
    </button>
  </div>
</form>
</div>
</div>
<a role="button" [routerLink]="['']"> Accueil </a>
<br>
{{ userForm.value | json }}
