<a role="button" [routerLink]="['']"> Accueil </a>
<div style="background-image: linear-gradient(white, coral , white);font-family: 'Times New Roman', Times, serif;text-align: center"><br><br>
<H1>Création d'une nouvelle tâche</H1>
<div style="display: inline-block; border:solid;margin:20pt; text-align: center; background-image: linear-gradient(to right, coral , wheat); border-radius: 5pt;padding-left: 10pt;padding-right: 10pt;padding-top: 10pt">
<form [formGroup]="userForm">
  <mat-form-field class="formGroup">
    <input
    matInput
    type="text"
    id="libelle"
    formControlName="libelle"
    placeholder="Libelle"
    size="530"
    >
    <div class="errorPlaceHolder" *ngIf="libelle.errors && libelle.touched">
    Le titre de la mission doit faire au moins 3 caractères
    </div>
  </mat-form-field>
  <div class="formGroup">
    <select
    id="categorie"
    formControlName="categorie"
    placeholder="Catégorie de la mission"
    >
    <option>PRO</option>
    <option>PERSO</option>
    </select>
    <div class="errorPlaceHolder" *ngIf="categorie.errors && categorie.touched">
    La catégorie doit faire au moins 3 caractères
    </div>
  </div>
  <div class="formGroup">
    <input
    type="date"
    id="birthDate"
    formControlName="birthDate"
    placeholder="Date d'échéance de la tâche"
    >
    <div class="errorPlaceHolder" *ngIf="birthDate.errors && birthDate.touched">
    <p *ngIf="birthDate.errors.isLowerThan">La date d'échéance doit être (forcément...) postérieure à la date du jour</p>
    </div>
  </div>
  <div class="formGroup">
    <input
    type="text"
    id="duree"
    formControlName="duree"
    placeholder="Durée en heures"
    >
    <div class="errorPlaceHolder" *ngIf="duree.errors && duree.touched">
    <p *ngIf="duree.errors.pattern">On a dit 5 CHIIIIFFFFFFRES !!!!</p>
    </div>
  </div><div class="formGroup">
    <button id="add" (click)="submit()" [routerLink]="['/add']">
    Ajouter des utilisateurs en chaine
    </button>
    <button id="add" (click)="submit()" [routerLink]="['']">
    Ajouter et revenir à l'accueil
    </button>
  </div>
</form>
</div>
</div>
