<div style="display: inline-block; border:solid;margin:20pt; text-align: center; background-image: linear-gradient(to right, coral , wheat); border-radius: 5pt;padding-left: 10pt;padding-right: 10pt;padding-top: 10pt">
<p>Vous allez modifier : </p>
<form [formGroup]="userForm" *ngIf="userForm">
  <div class="formGroup">
    <input
    type="text"
    id="libelle"
    formControlName="libelle"
    placeholder="Libelle"
    >
    <div class="errorPlaceHolder" *ngIf="libelle.errors && libelle.touched">
    Le libelle doit faire au moins 3 caractères
    </div>
  </div>
  <div class="formGroup">
    <select
    id="categorie"
    formControlName="categorie"
    placeholder="Catégorie de la tâche"
    >
    <option>PRO</option>
    <option>PERSO</option>
    </select>
    <div class="errorPlaceHolder" *ngIf="categorie.errors && categorie.touched">
    La catégorie doit faire au moins 3 caractères
    </div>
  </div>
  <div class="formGroup">
    <input
    type="date"
    id="birthDate"
    formControlName="birthDate"
    placeholder="Date d'échéance de la tâche"
    >
  </div>
  <div class="formGroup">
    <input
    type="text"
    id="duree"
    formControlName="duree"
    placeholder="Durée en heures"
    >
    <div class="errorPlaceHolder" *ngIf="duree.errors && duree.touched">
    <p *ngIf="duree.errors.pattern">On a dit 5 CHIIIIFFFFFFRES !!!!</p>
    </div>
  </div><div class="formGroup">
    <button id="add" (click)="update()" [disabled]="userForm.invalid" [routerLink]="['']">
    Valider et revenir à l'accueil
    </button>
    <div class="formGroup">
    <button id="cancel" (click)="dismiss()"  [routerLink]="['']">
    Annuler et revenir à l'accueil
    </button></div>
  </div>
</form>
</div>
