div{
    color: rgb(26, 27, 26);
    //background-image: url('../../img/temps.jpg');
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
