<div class="div-haut" style="text-align:center"><br><br>
<H1>Bienvenue, nous sommes le {{ dateDuJour | date:'EEEE dd MMM yyyy' : '' : 'fr-FR' }}, voici vos missions</H1>
<!-- Bouton pour afficher le formulaire de mise à jour -->
    <app-update-user (updateUserEvent)="receiveUser($event)" [userForm]="userForm" [oUser]="aUser" [hidden]="!hasUser()"></app-update-user>
    <!--<app-update-user (updateUserEvent)="receiveUser($event)" [userForm]="userForm" [hidden]="!hasUser()"></app-update-user>-->

<div style="text-align: left;margin:20pt;
  text-align: left;background-image: linear-gradient(to right, grey , grey);
  border-radius: 0;
  padding-left: 50pt;
  font-size: 1em;
  border: solid;
  border-color: grey;
  padding-top: 2pt;" *ngFor="let user of users" (click)="toggleStatus(user)">
    <button id="valid"  (click)="valid(user)"><mat-icon title = "Valider la mission">done_outline</mat-icon>
    </button>

  &emsp;&nbsp;&nbsp;<strong>{{ user.libelle}}</strong>
<address [hidden]="!user.isDetailsHidden">
<ul id = "detail">
  <li><strong>{{ user.categorie | uppercase }}</strong></li>
  <li> Durée en heures : {{ user.duree}}</li>
  <li> échoit le : {{ user.birthDate | date:'EEEE dd MMM yyyy' : '' : 'fr-FR' }} [ {{ user.birthDate | age }} ]</li>
  <!-- : {format: 'month'}-->
  <div style="text-align: right;padding-right: 10px;background-image: linear-gradient(to right, grey , grey);">
   <button class="button-update" id="update" (click)="loadFormFor(user)">
    <mat-icon title = "Modifier">edit</mat-icon>
    </button>
   <button id="remove"  (click)="remove(user)">
    <mat-icon title = "Supprimer">delete</mat-icon>
    </button>
      <!-- Bouton pour afficher le formulaire de mise à jour -->
    <!-- <app-update-user></app-update-user> -->
   </div>
</ul>
</address>
</div>
</div>
<div style="text-align:center"><strong> Pour rappel, vous avez déjà effectué {{ nbValid }} missions, vous en avez supprimées {{ nbSuppr }} et vous avez {{ nbEnCours }} missions encore ouvertes
</strong><br><br></div>
<div style="text-align: left;margin:20pt;
  padding-left: 50pt;">
<button id="remove" [routerLink]="['/add']"><mat-icon title = "Ajouter">add_circle_outline</mat-icon></button>
<button id="remove" [routerLink]="['']" (click)="vider()" title = "Tout réinitialiser"><mat-icon>delete_forever</mat-icon></button><br><br>
</div>
