.button-update{
  //border-radius: 50%;
  //background-image: url("../../img/pencil.png");
}

.div-haut {
  background-color: rgb(42, 41, 41);
  color: white;
  text-align: center;
}

.div-bas {
  background-color: rgb(42, 41, 41);
  color: white;
  text-align: left;
  margin:20pt;
  padding-left: 50pt;
}

.div-user {
  background-color: rgb(42, 41, 41);
  color: white;
  margin:20pt;
  text-align: left;
  padding-left: 50pt;
  padding-top: 2pt;
  font-size: 1em;
  .wrapper {
    &.active {
      background-color: blue;
    }
  }
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  margin:20pt;
  text-align: left;
  border-radius: 5pt;
  padding-left: 50pt;
  padding-top: 2pt;
  font-size: 1em;
}
